<div class="show">
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name:</th>
    <th>Address:</th>
    <th>UUID:</th>
  </tr>
  </thead>
  <tr>
    <th><%= @device.name %></th>
    <th><%= @device.address %></th>
    <th><%= @device.uuid %></th>
  </tr>
</table>
<center>
<%= link_to 'Back', devices_path, class:"btn btn-outline-primary" %>
</center>
</div>
